{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"],
      },
    }],
    "@babel/react",
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-flow-strip-types",
    "react-hot-loader/babel",
  ],
}
